*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: black;
    
    text-align: center;
    background-blend-mode: multiply;
    background-image: url('./images/pageBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    overflow-x: hidden;
}


@media (max-width: 991px){
    .navbar{
        margin-bottom: -50px;
    }
    .landingPage{
        margin-bottom: -45px;
    }
}

@media (max-width: 767px){
    .landingPage{
        margin-bottom: 0px;
    }
}



@media (min-width: 766px) {
    /*.socMed {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .socMed a {
        margin: 0; /* Remove any margin 
    }*/

    .imgSelf img{
    	
    	margin-top: 20px;
    	
    }
}



.myName{
    color: #CBCBCB;
}

.aboutMe{
	color: #6B6666;
	font-size: 1.2rem;
}


.aboutMe .aboutMe-line{
    text-decoration: underline 2px;
    text-decoration-color: #009F43;
    text-underline-offset: 5px;
}

.nav-item .active ,
.nav-item a:hover {
    border-bottom: 1px solid #009F43;
    color: white;
}

.navbar-collapse ul li:hover;
	border-bottom: 1px solid #009F43;
    color: white;
}//



.navBar-root ul li{
	list-style-type: none;
	border-bottom: 1px dotted #009F43;

	padding: 0 3rem 0;

}


.nav-item a:hover {
    color: #00FF00; /* Neon green color */
    text-shadow: 0 0 30px #00FF00, 0 0 40px #00FF00, 0 0 50px #00FF00; /* Adjust the shadow size as needed */
}

/* Style for the active link */
.nav-item.active a {
    color: #00FF00; /* Neon green color */
    text-shadow: 0 0 20px #00FF00, 0 0 30px #00FF00, 0 0 40px #00FF00; /* Adjust the shadow size as needed */
}

/* Adjust the alignment of the navbar */
.navbar {
	text
    justify-content: flex-end;
}


.let-connect{
    border-bottom: 2px solid #013617;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/*font-awesome icons*/
.instaGram i,
.linkedIn i,
.gitHub i,
.whatsApp i,
.skYpe i,
.emAil i{
	color: white;
	background-color: #2A2A2A;
	padding: 15px;
	border-radius: 50%;
	font-size: 20px
}

.instaGram i:hover,
.linkedIn i:hover,
.gitHub i:hover,
.whatsApp i:hover,
.skYpe i:hover,
.emAil i:hover{
	color: black;
	background-color: #009F43;
	box-shadow: 
        0 0 20px 5px #fff,    /* inner white */
        0 0 20px 10px #0f0,    /* middle neon green */
        0 0 50px 20px #0ff;    /* outer cyan */

}

.socMed a{
	padding: .5rem 0 5rem 0;
}


/*PROJECTS*/
.portfolio-Line{
	border-left: 8px solid #009F43;
  	height: 100px;
}

.projects{
	background-image: url("https://images.pexels.com/photos/9668535/pexels-photo-9668535.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-repeat: no-repeat;
	background-size: cover;
}

.project1 a,
.project2 a,
.project3 a{
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.project1:hover a, 
.project2:hover a,
.project3:hover a{
	box-shadow: 
        0 0 60px 30px #fff,   /* inner white */
        0 0 100px 60px #0f0,  /* middle neon green */
        0 0 40px 20px #0ff;  /* outer cyan */
    -webkit-filter: blur(0);
    filter: blur(0);
}

.top {
    place-self:end;
    position:sticky;
    bottom: 10px;
    margin-top:100vh;
    
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
  }

/*TOOLS*/
.tools-Line{
	border-left: 8px solid #009F43;
  	height: 100px;
}

.techStack img{
	box-shadow: rgba(0, 0, 0, 0.50) 0px 54px 55px, 
    rgba(0, 0, 0, 0.50) 0px -12px 30px, 
    rgba(0, 0, 0, 0.50) 0px 4px 6px, 
    rgba(0, 0, 0, 0.75) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

/*.techStack img:hover{
	box-shadow: 0 0 60px 30px #fff, 
    0 0 100px 60px #f0f, 
    0 0 140px 90px #0ff; 

    /*box-shadow: 0 0 30px 15px #fff,  
    0 0 50px 30px #f0f, 
    0 0 40px 45px #0ff;*/

    /*box-shadow: 
    0 0 60px 30px #fff,   
    0 0 100px 60px #00f,  
    0 0 140px 90px #0ff;  */
 
}
.techStack-box {
	border-radius: 10%;
}

.techStack img {
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 5%;


}

.techStack img:hover {
    box-shadow: 
        0 0 25px 10px #fff,   /* inner white */
        0 0 50px 30px #0f0,  /* middle neon green */
        0 0 40px 15px #0ff;  /* outer cyan */
/*   background-color: rgb(20, 90, 50);*/
    background-color: #0D3B21;

}


/*form*/
form button:hover,
form .category input:hover,
form .category textarea:hover{
	box-shadow: 
        0 0 5px 2.5px #fff,    /* inner white */
        0 0 10px 5px #0f0,    /* middle neon green */
        0 0 15px 7.5px #0ff;    /* outer cyan */
}

footer{
    margin-top: -23px;
}
